body {
  padding: 0px;
  margin: 0px;
  background-color: #1e1e24;
  /* background-image: url('./assets/wallpaper.jpg'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.jumbotron {
  height: 165px;
  background-position: bottom center;
}

h1 {
  color: #ffffff;
  font-family: "Ruda", sans-serif;
  font-size: 70px;
  font-weight: 900;
  margin: 0px;
  padding-top: 20px;
  text-align: center;
  text-transform: uppercase;
}
.card {
    margin-bottom: 4rem;
}
.card-badge {
  text-align: left;
  margin: 10px;
}
.card-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 20rem;
  width: 100%;
  box-shadow: 0 3px 5px 0 rgb(0 0 0 / 20%);
}
.card-body {
  display: inline-block;
  width: 18rem;
      height: 20rem;
    margin-bottom: 20px;
}

.card-text {
    display: inline-block;
    text-align: center;
    max-height: 8.8rem;
    overflow: hidden;
}
.card-tags {
  display: inline;
  margin: 5px;
  color: rgb(17, 21, 23);
  padding: 4px 16px;
  background: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 15%) 0px 2px 3px;
  border-radius: 4px;
  font-weight: 300;
}
.card-btn {
  margin-top: 30px;
  width: 100%;
}

.card-btn-view {
  margin-top: 30px;
  position: absolute;
  bottom: -20px;
  left: 10%;
  width: 80%;
}
